body{
  margin:0;
  background: radial-gradient(circle, #1a0000, black);
  color:white;
  font-family: 'Arial', sans-serif;
  text-align:center;
}

.title{
  font-size:50px;
  color:gold;
  text-shadow:0 0 15px gold, 0 0 30px orange;
  margin-top:30px;
}

.balance{
  font-size:25px;
  margin:20px;
}

.slot-machine{
  display:flex;
  justify-content:center;
  gap:10px;
  margin-top:50px;
  height:210px;
}

.reel{
  width:100px;
  height:210px;
  overflow:hidden;
  border:4px solid gold;
  border-radius:10px;
  background:#0b0b0b;
  box-shadow:0 0 20px gold;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:flex-start;
  transition: transform 0.6s ease-out;
}

.reel img{
  width:90px;
  margin:5px 0;
}

.spin{
  font-size:30px;
  padding:20px 60px;
  margin-top:30px;
  background:red;
  border:none;
  border-radius:10px;
  cursor:pointer;
  box-shadow:0 0 20px red;
  transition:0.3s;
}

.spin:hover{
  background:orange;
}

#result{
  font-size:30px;
  margin-top:20px;
  color:gold;
  text-shadow:0 0 10px gold;
}
