body{
margin:0;
background: radial-gradient(circle, #1a0000, black);
font-family: 'Bebas Neue', sans-serif;
color:white;
text-align:center;
}

.container{
margin-top:120px;
}

.title{
font-size:80px;
color:gold;
text-shadow:
0 0 10px gold,
0 0 20px orange,
0 0 40px red;
}

.subtitle{
font-size:30px;
margin-bottom:60px;
}

.menu{
display:flex;
justify-content:center;
gap:40px;
}

.game{
padding:25px 50px;
font-size:30px;
border:none;
border-radius:15px;
cursor:pointer;
transition:0.3s;
color:white;
}

.slot{
background:red;
box-shadow:0 0 20px red;
}

.blackjack{
background:green;
box-shadow:0 0 20px lime;
}

.poker{
background:purple;
box-shadow:0 0 20px violet;
}

.game:hover{
transform:scale(1.1);
box-shadow:0 0 40px white;
}
